.add-note-container {
  text-align: center;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  border: 1px solid #333;
}

.add-note-container.open {
  height: 200px;
}

.add-note-container button,
.add-note-container input,
.add-note-container textarea {
  margin-bottom: 10px;
}

.add-note-container .note-form {
  text-align: left;
  padding: 10px;
}

.add-note-container label,
.add-note-container button {
  color: #fff;
}

.add-note-container input,
.add-note-container textarea {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

.add-note-container button {
  background-color: #4e5488;
  color: white;
  padding: 10px;
  border: 1px solid #525874;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
  cursor: pointer;
}

.add-note-container button:hover {
  background-color: #525874;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
