.container {
    margin-top: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .col {
    flex-basis: calc(33.33% - 20px); 
    margin: 10px;
  }
  

  @media (max-width: 768px) {
    .col {
      flex-basis: calc(50% - 20px);
    }
  }