.menu-container {
  background-color: #282c34;
  border: 1px solid #22252b;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  height: 100%;
  overflow-y: auto; 
  scrollbar-width: thin;  
  scrollbar-color: #6b73bd #282c34;  
}

.menu-container::-webkit-scrollbar {
  width: 10px;  
}

.menu-container::-webkit-scrollbar-thumb {
  background-color: #6b73bd;  
  border-radius: 5px;  
}

.menu-container::-webkit-scrollbar-track {
  background-color: #282c34;  
}
  
  .menu-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
  }
  
  .menu-options {
    list-style-type: none;
    padding: 0;
    transition: transform 0.2s ease-in-out; 
  }
  
  .menu-option {
    margin-bottom: 8px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s ease;
    border-radius: 8px;
  }
  
  .menu-option:hover {
    background-color: #35375f;
    color: #6b73bd;
    border-radius: 8px;
  }

  .form-select {
    width: 100%; 
    padding: 8px; 
    margin-bottom: 8px; 
    background-color: #282c34; 
    border: 1px solid #22252b;
    border-radius: 8px;
    color: white; 
  }
  
  .form-select:hover {
    background-color: #35375f;
    color: #6b73bd;
    border-radius: 8px;
  }

  .home-button {
    background-color: #4e5488;
    color: white;
    padding: 10px;
    border: 1px solid #525874;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
    cursor: pointer;
  }
  
  .home-button:hover {
    background-color: #525874;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .menu-search {
    width: 90%;
    padding: 10px; 
    border: 1px solid #525874;
    border-radius: 10px; 
    background-color: #ffffff;
    color: white;
  }
  
  .menu-search:focus {
    outline: none;
    border: 2px solid #6b73bd; 
  }
