.signin-container {
    color: white;
    padding: 20px;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    background: linear-gradient(45deg, #262626, #333333);
    border-radius: 15px;
}

.signin-form input[type="text"],
.signin-form input[type="email"],
.signin-form input[type="password"] {
    background-color: #333;
    color: white;
    border: none;
    margin: 10px 0;
    padding: 12px;
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 8px;
}

.signin-form button {
    background-color: #4c4c99;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    margin-top: 15px;
}

.signin-form button:hover {
    background-color: #6b6bbd;
    transform: scale(1.05); 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

h1 {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
    color: #61dafb; 
    cursor: pointer;
}

.signup-link:hover {
    text-decoration: underline;
}

.divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    margin-top: 10px; 
    margin-bottom: 20px; 
}

.divider h2,
.divider .signup-link {
    margin: 0; 
    margin-right: 10px; 
    font-size: 1.2rem;
}